# Python cache
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code settings
.vscode/
*.code-workspace

# Airflow metadata and logs
airflow.db
airflow.cfg
logs/

# Azure config
*.azure/
*.json

# Secrets and keys
.env
*.pem
*.key

# OS-specific files
.DS_Store
Thumbs.db

# Git/Vim temporary files
*.swp
*.swo

# Data folders (optional: keep `raw/`, exclude processed/models)
data/processed/
data/models/
